name: Flutter Lints and Tests
on:
  push:
    branches:
      - master
      - feature/*
      - hotfix/*
      - release/*
  pull_request:
    branches:
      - master
jobs:
  test:
    name: Tests with coverage and version update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Flutter configuration
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.1'

      - name: Get dependencies
        run: flutter pub get

      - name: Build runner
        run: flutter pub run build_runner build --delete-conflicting-outputs

      - name: Analyze project
        run: flutter analyze

      - name: Execute tests with coverage
        run: flutter test --coverage

      - name: Update version
        run: |
          # Get the current version from pubspec.yaml
          current_version=$(grep -E 'version: ' pubspec.yaml | cut -d' ' -f2)
          # Increment the patch version
          new_version="${current_version%.*}"."$(( ${current_version##*.} + 1 ))"
          echo "Updating version to $new_version..."
          # Update the version in pubspec.yaml
          sed -i "s/$current_version/$new_version/g" pubspec.yaml

      - name: Commit the updates
        run: |
          # Commit and push the changes
          git config user.name "GitHub Actions"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add pubspec.yaml
          git commit -m "chore: Update version to $new_version"
          git push